$blue: (
  50: #e4f2fe,
  100: #bdddfe,
  200: #93c9fe,
  300: #6ab3fc,
  400: #4da3fc,
  500: #3893fa,
  600: #3785eb,
  700: #3785eb,
  800: #3161c5,
  900: #2b42a5,
  A100: #ffffff,
  A200: #e4f2fe,
  A400: #3785eb,
  A700: #2b42a5,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);
