<article class="task-card" [ngStyle]="{ marginBottom: bottomMargin }">
  <div class="identifier">
    <p>
      {{ task?.description?.split("")?.[0]?.toUpperCase()}}
    </p>
  </div>
  <div class="right-section">
    <div class="details">
      <p class="header">
        Task: <span class="value">{{ task?.description }}</span>
      </p>
      <p class="header">
        Ends: <span class="value">{{ task?.completion_date }}</span>
      </p>
    </div>
    <div class="options">
      <button mat-icon-button class="icon-btn" (click)="editClicked(task?.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        class="icon-btn"
        (click)="deleteClicked(task?.id)"
      >
        <mat-icon [ngStyle]="{ color: 'red' }">close</mat-icon>
      </button>
    </div>
  </div>
</article>
