.task-card {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 1;
  width: 100%;
  box-shadow: 0px 3px 5px rgb(194, 194, 194);
  padding: 15px;
  border-radius: 4px;
}
.identifier {
  $diameter: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-right: 20px;
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
  background-color: rgb(255, 0, 123);

  p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: white;
  }
}
.right-section {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header {
      color: rgb(152, 152, 152);
    }
    .value {
      color: black;
    }
  }
  .options {
    display: flex;

    .icon-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2px;
      padding: 0;
    }
  }
}
